@font-face {
    font-family: "SN Pro";
    font-weight: 300;
    src: url('../fonts/SNPro-Light.woff2') format('woff2');
  }
   
  @font-face {
    font-family: "SN Pro";
    font-weight: 400;
    src: url('../fonts/SNPro-Regular.woff2') format('woff2');
  }
   
  @font-face {
    font-family: "SN Pro";
    font-weight: 500;
    src: url('../fonts/SNPro-Medium.woff2') format('woff2');
  }